@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanssemibold.woff2') format('woff2'),
  url('../fonts/opensanssemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensansbold.woff2') format('woff2'),
  url('../fonts/opensansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensansitalic.woff2') format('woff2'),
  url('../fonts/opensansitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}



:root {
  --color-main: #9D5CD0;
  --color-main-active: #7943A4;
  --color-link-hover: #c283f3;
  --btn-color-btn: #D1A9F0;
  --font-color-white: #ffffff;
  --font-color-main: #333333;
  --color-black:#000000;
  --color-white-opacity: rgba(255, 255, 255, 0.85)
}

* {
  box-sizing: border-box;
}


::-moz-placeholder, :-moz-placeholder {
  opacity: 1;
}

a {
  text-decoration: none;
  color: var(--font-color-white);
}

a:focus {
  outline: 2px solid var(--color-main-active);
}

.link {
  color: var(--color-main);
}

.link:hover {
  border-bottom: 1px solid var(--color-main);
}

.link:active {
  color: var(--color-main-active);
  border-bottom: 1px solid var(--color-main-active);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: normal;
  color: var(--font-color-main);
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1600px;
  /* position: relative; */
}

.btn {
  position: relative;
  padding: 22px 35px;
  margin-left: 3px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  border:none;
  background-color: var(--color-main);
  color: var(--font-color-white);
  cursor: pointer;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.btn:hover {
  padding: 19px 32px;
  border: 3px solid var(--btn-color-btn);
}

.btn:active {
  padding: 19px 32px;
  border: 3px solid var(--color-link-hover);
  background-color: var(--color-main-active);
}

.btn:focus {
  outline: none;
}

.btn:focus::after {
  position: absolute;
  content: '';
  padding: 3px;
  width: 100%;
  height: 100%;
  left: -5px;
  top: -5px;
  border-radius: 100px;
  border: 2px solid var(--color-link-hover);
}

.btn:active::after {
  border:none;
}

.section-heading {
  margin: 0;
  padding-top: 79px;
  padding-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  font-weight: normal;
}

/*------------header-------------*/

header {
  z-index: 10;
  position: relative;
}

.header__top {
  height: 100px;
  background-color: var(--color-black);

}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.nav-header__list, .nav-direction__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-header__item {
  margin-right: 62px;
}

.nav-header__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  transition: color .3s ease-in-out;
}

.header__lk {
  padding-left: 34px;
}

.nav-header__link:hover, .header__lk:hover .header__lk-link {
  color: var(--color-link-hover);
}

.nav-header__link:active {
  color: var(--color-main-active);
}

.header__lk:active .header__lk-link{
  color: var(--color-main);
}

.header__lk-link::before {
  display: inline-block;
  content: '';
  padding-right: 7px;
  width: 13px;
  height: 13px;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  transition: background-image .3s ease-in-out;
}

.header__lk:hover .header__lk-link::before {
  background-image: url(../img/Vector_hover.svg);
}

.header__lk:active .header__lk-link::before {
  background-image: url(../img/Vector_active.svg);
}

.header__lk-link {
  font-size: 18px;
  line-height: 25px;
  transition: color .3s ease-in-out;
}

.header__bottom {
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
}

.nav-direction__item {
  position: relative;
  margin-right: 113px;
}

.nav-direction__link {
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  border: none;
  background: transparent;
  color: var(--font-color-white);
  transition: color .3s ease-in-out;
  cursor: pointer;
}

.nav-direction__scroll {
  display: none;
  position: absolute;
  padding: 40px 25px 40px 34px;
  max-height: 300px;
  min-width: 300px;
  color: var(--font-color-white);
  background: rgba(0, 0, 0, 0.4);
}

.scroll-wrap__list {
  padding-right: 19px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-wrap__item:not(:last-child){
  margin-bottom: 20px;
}

.scroll-wrap__item {
  position: relative;
}

.scroll-wrap__link {
  display: block;
  padding-left: 14px;
  padding-top: 11px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  background-position: center;
  background-size: cover;
}

.scroll-wrap__link::before {
  position: absolute;
  content:"";
  height: 40px;
  width: 222px;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
}

.scroll-wrap__leonardo {
  background-image: url(../img/Rectangle\ 59.jpg);
}

.scroll-wrap__tintoretto {
  background-image: url(../img/Rectangle\ 57.jpg);
}

.scroll-wrap__fridrich {
  background-image: url(../img/Rectangle\ 58.jpg);
}

.scroll-wrap__verrokko {
  background-image: url(../img/Rectangle\ 60.jpg);
}

.scroll-wrap__link:hover {
  padding-left: 12px;
  padding-top: 9px;
  border: 2px solid var(--color-main);
}


.scroll-wrap__link:active {
  padding-left: 12px;
  padding-top: 9px;
  border: 2px solid var(--btn-color-btn);
}

.scroll-wrap__link:active::before {
  opacity: 1;
}

.scroll-wrap__link:focus {
  outline: none;
  padding-left: 12px;
  padding-top: 9px;
  border: 2px solid var(--color-main);
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track {
  right: 0px;
}

.simplebar-track.simplebar-vertical {
  top: 0px;
  width: 2px;
  background-color: var(--color-black);
}

.simplebar-scrollbar:before {
  left: 0;
  right: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  border-radius: 0;
  background-color: var(--color-main);
  opacity: 1;
}

.nav-direction__show {
  display: block;
}

.nav-direction__link:focus {
  outline: 2px solid var(--color-main-active);
}

.nav-direction__link:hover {
  color: var(--color-main);
}

.nav-direction__link:hover::after {
  border-color: var(--color-main);
}

.nav-direction__link:active, .nav-direction__link:focus {
  color: var(--color-main-active);
}

.nav-direction__link:active::after,  .nav-direction__link:focus::after{
  border-color: var(--color-main-active);
  transform: rotate(135deg);
  top: 45%;
}

.nav-direction__link::after {
  position: absolute;
  display: inline-block;
  content: '';
  left: calc(100% + 5px);
  top: 35%;
  width: 7px;
  height: 7px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--font-color-white);
  transform: rotate(-45deg);
  transition: border-color .3s ease-in-out;
}

.header__form {
  position: relative;

}

.header__label {
  position: absolute;
  height: 22px;
  width: 22px;
  left: -31px;
  top: 7px;
  background-image: url(../img/Search.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  transition: background-image .3s ease-in-out;
}

.header__search {
  padding: 5px 15px 2px 0;
  border: none;
  border-bottom: 1px solid var(--color-white-opacity);
  font-size: 18px;
  background-color: transparent;
  color: var(--color-white-opacity);
  cursor: pointer;
  transition: color .3s ease-in-out, border-color .3s ease-in-out;
}

input.header__search::placeholder {
  color: var(--color-white-opacity);
}

input.header__search::-webkit-input-placeholde {
  color: var(--color-white-opacity);
}

input.header__search:-ms-input-placeholder {
  color: var(--color-white-opacity);
}

input.header__search::-ms-input-placeholder {
  color: var(--color-white-opacity);
}

.header__label:focus, .header__search:focus {
  outline: 2px solid var(--color-main-active);
  color: var(--color-link-hover);
}


.header__form:hover .header__label {
  background-image: url(../img/Search_hover.svg);
}

.header__form:hover .header__search {
  border-color: var(--color-link-hover);
}

/*------------- Section-Hero --------------*/

.section-hero {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 0;
  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  animation: change-background 6s ease infinite;
}

@keyframes change-background {
  0% {
    background-size: 120%;
    background-position: 50% 50%
  }
  50% {
    background-size: 110%;
    background-position: 20% 80%;
  }
  100% {
    background-size: 120%;
    background-position: 50% 50%
  }
}

.section-hero__container {
  position: relative;
}

.section-hero__content {
  position: absolute;
  top: 240px;
  left: -3px;
  max-width: 600px;
  color: var(--font-color-white);
}

.section-hero__title {
  margin: 0;
  font-size: 72px;
  line-height: 84px;
}

.section-hero__text {
  margin: 18px 0 93px 3px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.section-hero__wrap:focus {
  display: inline-block;
  padding: 3px 3px 3px 0;
  border-radius: 100px;
  border: 2px solid var(--color-link-hover);
  outline: none;
}

/*------------- Section-About ----------------*/

.section-about {
  margin-top: 631px;
  margin-bottom: 71px;
}

.section-about__text {
  margin: 0;
  max-width: 1082px;
  line-height: 32px;
}

/*------------ Section-Gallery --------------*/

.section-gallery {
  width: 100%;
  height: 995px;
  background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-gallery__headeng {
  color: var(--font-color-white);

}

.section-gallery__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.section-gallery__select-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25%;
  color: var(--font-color-white);
}

.select-custom__heading {
  margin: 0;
  font-weight: 600;
  line-height: 29px;
}

.choices {
  margin-top: 11px;
}

.choices__inner {
  min-height: 40px;
  border-radius: 6px;
  font-size: 16px;
  background: transparent;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 5px;
}

.choices__list--dropdown {
  border-radius: 6px;
  background: transparent;
}

.choices__placeholder  {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--single {
  padding-top: 2px;
  padding-left: 8px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
}

.choices__list--dropdown .choices__item--selectable {
  padding-left: 21px;
  padding-top: 10px;
  font-size: 16px;
}

.choices__list--dropdown .choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid;
}

.choices[data-type*=select-one]:after {
  content: '';
  right: 15px;
  width: 7px;
  height: 7px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 0;
  border-top: 0;
  border-color: var(--font-color-white);
  transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after{
  top:70%;
  border-color: var(--font-color-white);
  border-right: 1px solid;
  border-top: 1px solid;
  border-left: 0;
  border-bottom: 0;

}

.select-custom__bottom {
  font-weight: 600;
  line-height: 32px;
}

.section-gallery__slider {
  position: relative;
  width: 72%;
  margin-bottom: 12px;
}

.choices:focus .choices__inner{
  border-color: var(--color-main-active);
}



/*Slider*/


.slider-gallery__navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: calc(100% + 25px);
  left: -4px;
  height: 35px;
  width: 150px;
  z-index: 10;
  overflow: visible;
}

.swiper-button-next, .swiper-button-prev {
  margin-top: 0;
  top: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 8px;
}

.slider-gallery__number {
  color: var(--font-color-white);
}

.slider-gallery__click {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #666666;
  cursor: pointer;
  z-index: 11;
  transition: background-color .3s ease-in-out, border .1s ease-in-out;
}

.slider-gallery__click:hover {
  background-color: var(--color-main);
}

.slider-gallery__click:active {
  background-color: var(--color-main-active);
  border: 2px solid var(--btn-color-btn) ;
}

.slider-gallery__click:focus {
  outline: none;
  border: 2px solid var(--color-main-active)
}

.slider-gallery__click::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  left: 40%;
  top: 36%;
  border: none;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: var(--font-color-white);
  transform: rotate(-45deg);
}

.slider-gallery__click-right::before {
  left: 38%;
  transform: rotate(135deg);
}

.swiper-container.section-gallery__slider-container {
  position: static;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 750px;
}


.swiper-slide.section-gallery__swiper-slide {
  text-align: center;
  background: #fff;
  height: calc((100% - 50px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.slider-gallery__item {
  position: relative;
  padding: 25px;
  width: 350px;
  height: 350px;
}

.slider-gallery__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
  z-index: 1;
}

/* .slider-gallery__item:nth-last-child(-n+3) {
  margin-bottom: 10px;
} */

.slider-gallery__item:focus {
  outline: none;
  border: 3px solid var(--color-main-active);
}

.slider-gallery__item:hover .slider-gallery__box {
  opacity: 1;
  cursor: pointer;
}

.slider-gallery__item:active {
  border: 2px solid var(--btn-color-btn);
}

.slider-gallery__item:active::before {
  opacity: 1;
}

.slider-gallery__img {
  position: absolute;
  left: 0;
  top: 0;
}

.slider-gallery__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: 1;
}

.slider-gallery__loupe {
  width: 81px;
  height: 79px;
  background-image: url(../img/gallery/Group\ 12.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: '';
}

/*------------- Section-Catalog ------------------*/

.section-catalog__container {
  position: relative;
}

.section-catalog__text {
  margin: 0;
  max-width: 1080px;
  line-height: 32px;
  margin-bottom: 39px;
}

.tabs__list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 91px;
  left: 14%;
  width: 430px;
}

.tabs__btn {
  position: relative;
  width: 46px;
  height: 46px;
  outline: none;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tabs__btn:focus {
  outline: none;
}

.tabs__btn:active::after, .tabs__btn:focus::after {
  position: absolute;
  content: '';
  padding: 7px;
  width: 100%;
  height: 100%;
  left: -10px;
  top: -9px;
  border-radius: 100px;
  border: 2px solid var(--color-main);
}

.tabs__btn-active::after {
  position: absolute;
  content: '';
  padding: 7px;
  width: 100%;
  height: 100%;
  left: -10px;
  top: -9px;
  border-radius: 100px;
  border: 2px solid var(--color-main);
}

.tabs__btn1 {
  background-image: url(../img/catalog/image\ 4.jpg);
}

.tabs__btn2 {
  background-image: url(../img/catalog/image\ 6.jpg);
}

.tabs__btn3 {
  background-image: url(../img/catalog/image\ 7.jpg);
}

.tabs__btn4 {
  background-image: url(../img/catalog/image\ 8.jpg);
}

.tabs__btn5 {
  background-image: url(../img/catalog/image\ 5.jpg);
}

.tabs__content {
  display: none;
}

.tabs__content-active {
  display: flex;
  justify-content: space-between;
}

/*first left block*/
.tabs__painter-desc {
  width: 47%;
}

.tabs__painter-desc {
  display: none;
}

.tabs__painter-desc-active {
  display: block;
}

.painter-desc__title {
  margin-top: 26px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.painter-desc__subtext {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.painter-desc__text {
  margin: 0;
  margin-top: 6px;
  line-height: 32px;
}

/*second right block*/
.tabs__accordion {
  width: 50%;
}

.accordion__list {
  display: flex;
  flex-flow: column wrap;
  padding: 25px 12px 25px 0;
  margin-bottom: 3px;
  max-height: 342px;
}

.accordion__item {
  width: 26%;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 42px;
  padding-left: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: #CACACA;
  border-radius: 0;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--font-color-main);
  background: transparent;
  transition: color .3s ease-in-out, border-color .3s ease-in-out;
}

.ui-accordion .ui-accordion-header:last-child {
  border-bottom: 1px solid var(--font-color-main);
}

.ui-accordion .ui-accordion-content {
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
}

.ui-accordion-content-active + .ui-accordion-header{
  border-top: none;
}

.accordion__title:nth-last-of-type(1) {
  border-bottom: 1px solid #CACACA;
}

.accordion__title:nth-last-of-type(1) .ui-state-active {
  border-bottom: none;
}

.ui-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  border-radius: 100%;
  background-image: none;
  background-color: #ececec;
  transition: background-color .3s ease-in-out;
}

.ui-icon::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 37%;
  top: 37%;
  border: none;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: var(--color-black);
  transform: rotate(-135deg);
  transition: border-color .3s ease-in-out;
}


.accordion__title.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons:hover {
  border-color: var(--color-main);
  color: var(--color-main)
}

.accordion__title.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons:hover + .accordion__desc + .accordion__title {
  border-color: var(--color-main);
}


.accordion__title.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons:active {
  border-color: var(--color-main-active);
  color: var(--color-main-active);
  outline:none;
}

.accordion__title.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons:active + .accordion__desc + .accordion__title {
  border-color: var(--color-main-active);
}

.accordion__title.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons:hover .ui-icon {
  background-image: none;
  background-color: var(--color-main);
}

.accordion__title.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons:active .ui-icon {
  border-radius: 100%;
  border: 2px solid var(--btn-color-btn);
  background-image: none;
  background-color: var(--color-main-active);
  transform: rotate(180deg);
}

.accordion__title.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons:hover .ui-icon::before {
  border-color: var(--font-color-white);
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: none;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon::before {
  transform: rotate(180deg);
}

.ui-state-active, .ui-state-focus {
  outline: none;
}

.ui-state-focus > .ui-icon {
  background-image: none;
}

.accordion__title {
  position: relative;
}

.accordion__title:focus::before {
  position: absolute;
  content: '';
  padding-bottom: 12px;
  margin-top: -8px;
  padding-left: 10px;
  margin-left: -6px;
  width: 100%;
  height: 100%;
  top: 0;
  border: 2px solid var(--color-main-active)
}

.accordion__btn {
  padding: 0;
  border: none;
  font-family: 'Open Sans';
  line-height: 32px;
  background: transparent;
  cursor: pointer;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Open Sans';
}

.accordion__btn:hover {
  font-weight: 600;
  color: var(--color-main);
  border-bottom: 1px solid var(--color-main);
}

.accordion__btn:active, .accordion__btn-active {
  font-weight: 600;
  color: var(--color-main-active);
}

.accordion__btn:focus {
  outline: 2px solid var(--color-main);
  color: var(--font-color-main);
  font-weight: normal;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
}

/*-------------- Section-event ----------------*/

.section-event__headeng {
  padding-top: 80px;
}

.section-event__list {
  display: flex;
  flex-wrap: wrap;
}

.section-event__item {
  padding-top: 300px;
  margin-bottom: 50px;
  max-width: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: top;
}

.event-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 17px 45px 50px;
  min-height: 400px;
  border: 1px solid #cacaca;
  border-top: none;
}

.event-card__top {
  display: flex;
  flex-direction: column;
}

.section-event__item:not(:nth-child(3n)){
  margin-right: 50px;
}

.event-card1 {
  background-image: url(../img/event/Rectangle\ 101.jpg);
}

.event-card2 {
  background-image: url(../img/event/Rectangle\ 101-1.jpg);
}

.event-card3 {
  background-image: url(../img/event/Rectangle\ 101-2.jpg);
}

.event-card4 {
  background-image: url(../img/event/Rectangle\ 104.jpg);
}

.event-card5 {
  background-image: url(../img/event/Rectangle\ 105.jpg);
}

.event-card__label {
  align-self: flex-end;
  width: 150px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #999999;
  text-align: right;
}

.event-card2 .event-card__label {
  width: 130px;
}

.event-card4 .event-card__label {
  width: 200px;
}

.event-card__title {
  margin: 4px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.event-card__desc {
  margin: 0;
  padding-right: 20px;
  line-height: 32px;
}

.event-card__more {
  border-bottom: 1px solid var(--color-main);
  color: var(--color-main);
}

.event-card__more:hover {
  font-weight: 700;
}

.event-card__more:active {
  border-bottom: 1px solid var(--color-main-active);
  font-weight: 700;
  color: var(--color-main-active);
}

.section-event__wrap-button {
  width: 100%;
  text-align: center;
}

.section-event__btn {
  padding: 17px 32px 15px 32px;
  border-radius: 30px;
  border: 2px solid var(--color-main);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-main);
  background: transparent;
  cursor: pointer;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.section-event__btn:focus {
  position: relative;
  outline: none;
}

.section-event__btn:focus::after {
  position: absolute;
  content: '';
  padding: 3px;
  width: 100%;
  height: 100%;
  left: -5px;
  top: -5px;
  border-radius: 100px;
  border: 2px solid var(--color-main);
}

.section-event__btn:hover {
  background: var(--color-main);
  color: var(--font-color-white);
}


.section-event__btn:active {
  background: var(--color-main-active);
  color: var(--font-color-white);
  border: 3px solid var(--btn-color-btn);
}

.section-event__btn:active::after {
  border:none;
}

.hidden {
  display: none;
}

.fadeInUp {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s; */
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*------------ Section-Publications ------------*/

.section-publications {
 margin-top: 80px;
 background-image: url(../img/publications/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 4.jpg);
 height: 763px;
 color: var(--font-color-white);
}

.section-publications__checkbox {
  max-width: 20%;
}

.section-publications__wrap {
  display: flex;
  justify-content: space-between;
}

/*Checkbox*/

.checkbox__title {
  margin-top: 1px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.checkbox__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 27px;
  min-width: 110px;
}

.checkbox__item:last-child {
  margin-bottom: 0;
}

.checkbox__label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
}

.checkbox__text {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 16px;
  line-height: 32px;
  transition: color .3s ease-in-out;
}

.checkbox__text::before {
  display: inline-block;
  position: absolute;
  content: "";
  left: 1px;
  top: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid var(--font-color-white);
  transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.checkbox__text::after {
  position: absolute;
  content: "";
  left: 5px;
  top: 44%;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--color-link-hover);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.checkbox__input:checked + .checkbox__text::before {
  border: 1px solid var(--color-link-hover);
}

.checkbox__input:checked + .checkbox__text::after {
  opacity: 1;
}

.checkbox__input:focus + .checkbox__text {
  outline: 2px solid  var(--color-main-active);
}

.checkbox__input:hover + .checkbox__text::before {
  border: 1px solid var(--color-link-hover);
}

.checkbox__input:hover + .checkbox__text {
  color: var(--color-link-hover);
}

.checkbox__input:checked + .checkbox__text {
  color: var(--color-link-hover);
}

.checkbox__input:active + .checkbox__text::before {
  border: 1px solid var(--color-main-active);
}

.checkbox__input:active + .checkbox__text {
  color: var(--color-main-active);
}

.checkbox__price {
  margin-top: 7px;
  padding-left: 9px;
  max-width: 278px;
  border-radius: 4px;
  border: 1px solid var(--font-color-white);
}

.price__input {
  margin-left: 8px;
  margin-right: 4px;
  padding: 3px 0 3px 8px;
  width: 73px;
  font-size: 16px;
  line-height: 32px;
  border: none;
  background-color: rgba(157, 92, 208, 0.5);
  color: var(--font-color-white);
}

.price__input:focus {
  outline: 1px solid var(--color-link-hover);
}

.checkbox__price label:last-child {
  padding-right: 9px;
}

/* slider */

.section-publications__slider {
  position: relative;
  margin-top: 14px;
  max-width: 72%;
}

.slider-publications__swiper-container {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  height: 512px;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}

.swiper-slide.slider-publications__swiper-slide {
  display: flex;
  flex-direction: column;
}

.slider-publications__heading {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  padding-left: 3px;
}

.slider-pulications__title {
  margin: 0;
}

.slider-pulications__price {
  font-style: italic;
}

.slider-pulications__author {
  padding-top: 4px;
  padding-left: 3px;
}

.slider-publications__button {
  margin-top: 16px;
  padding-left: 3px;
}

.slider-pulications__btn {
  padding: 7px 20px;
  border: 2px solid var(--color-main);
  border-radius: 100px;
  background: transparent;
  font-weight: 700;
  line-height: 22px;
  color: var(--font-color-white);
  cursor: pointer;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.slider-pulications__btn:hover {
  background: var(--color-main);
  color: var(--font-color-white);
}

.slider-pulications__btn:focus {
  position: relative;
  outline: none;
}

.slider-pulications__btn:focus::after {
  position: absolute;
  content: '';
  padding: 3px;
  width: 100%;
  height: 100%;
  left: -5px;
  top: -5px;
  border-radius: 100px;
  border: 2px solid var(--color-main);
}

.slider-pulications__btn:active {
  background: var(--color-main-active);
  color: var(--font-color-white);
  border: 3px solid var(--btn-color-btn);
}

.slider-publications__navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: calc(100% + 28px);
  left: -7px;
  height: 35px;
  width: 150px;
  z-index: 10;
  overflow: visible;
}

/*-----------------Section-Projects---------------*/

.section-projects__text {
  margin: 0;
  max-width: 1080px;
  line-height: 32px;
}

.section-projects_link {
  font-weight: 600;
  color: var(--color-main);
}

.section-projects_link:hover {
  border-bottom: 1px solid var(--color-link-hover);
}

.section-projects_link:active {
  color: var(--color-main-active);
  border-bottom: 1px solid var(--color-main-active);
  outline: none;
}

.marker {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image:url(../img/projects/Subtract_1.svg);
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
  transform: translateY(4px);
}


.marker:focus:after {
  position: absolute;
  content: '';
  padding: 2px;
  width: 100%;
  height: 100%;
  left: -4px;
  top: -4px;
  border-radius: 100px;
  border: 2px solid var(--color-main);
}

.marker:hover,
.marker:focus {
  background-image:url(../img/projects/i\ -\ Тултип.svg);
  outline: none;
}


.popup {
  position: absolute;
  padding: 9px 13px;
  bottom: 28px;
  left: 50%;
  max-width: 264px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  width: max-content;
  background: #cacaca;
  color: var(--font-color-white);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}


.popup::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left:50%;
  transform: translateX(-50%);
  border-width: 9px 7px 0 7px;
  border-style: solid;
  border-color: rgba(79%,79%,79%,1) transparent transparent transparent;
  z-index: 100;
}

.marker:hover > .popup,
.marker:focus > .popup {
  opacity: 1;
  visibility:visible;
}

.section-projects__slider-title {
  margin: 0;
  margin-top: 21px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

/* slider */

.section-projects__slider {
  position: relative;
  margin: 23px auto 0 auto;
  max-width: 1450px;
}

.slider-projects__swiper-container {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}

.slider-projects__img  {
  border: 1px solid #cacaca;
}

.slider-projects__img:focus {
  border: 1px solid #885bc7;
  outline: none;
}

.slider-projects__click, .slider-projects__click-right {
  position: absolute;
  top: 60px;
  background-color: #ececec;
}

.slider-projects__click::before, .slider-projects__click-right::before {
  border-color: var(--color-black);
}

.slider-projects__click:hover::before, .slider-projects__click-right:hover::before {
  border-color: var(--font-color-white);
}

.slider-projects__click{
  left: -75px;
}

.slider-projects__click-right {
  right: -75px;
}

/*----------- Section-Contacts ----------*/

.section-contacts__container {
  max-width: 1920px;
  margin: 0 auto;
}

.section-contacts__headeng {
  padding-top: 76px;
  padding-left: 150px;
}

.section-contacts__wrap {
  display: flex;
  justify-content: space-between;
}

/*form*/
.section-contacts__form {
  padding-left: 150px;
  padding-top: 123px;
  width: 674px;
  height: 700px;
  border: 1px solid #cacaca;
}

.form__header {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.form__address {
  padding-top: 10px;
  font-style: normal;
}

.form__title {
  margin: 0;
  margin-top: 35px;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  max-width: 77%;
}

.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__group > label {
  margin-left: 20px;
  margin-bottom: 16px;
  font-size: 12px;
  color: var(--color-main-active);
}


.form__name,
.form__phone{
  padding: 3px 24px;
  margin-bottom: 7px;
  border-radius: 100px;
  border: 1px solid var(--font-color-main);
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.form__name:focus, .form__phone:focus {
  border: 2px solid var(--color-main-active);
  outline: none;
}

.form__footer {
  margin-bottom: 2px;
}

.form__btn {
  margin-top: 14px;
  margin-left: 2px;
  padding: 16px 33px;
}

.js-validate-error-label {
  position: absolute;
  font-size: 12px;
  top: -1px;
  left: 19px;
}

.form__list {
  display: flex;
  margin-top: 16px;
}

.form__item {
  margin-right: 20px;
  transition-property:transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.form__item:hover {
  transform: scale(1.2);
}

.form__social1, .form__social2 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.form__social1:focus, .form__social2:focus {
  outline: none;
}

.form__social1:focus::after, .form__social2:focus::after {
  position: absolute;
  content: '';
  padding: 2px;
  width: 100%;
  height: 100%;
  left: -4px;
  top: -4px;
  border-radius: 100px;
  border: 2px solid var(--color-main);
}

.form__social1 {
  background-image: url('../img/contacts/Whatsapp-Icon.png');
}
.form__social2 {
  background-image: url('../img/contacts/Telegram_2019_Logo.png');
}

/* //map */
.section-contacts__map {
  margin-left: auto;
  width: 1228px;
}

.section-contacts__map-wrapper {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/*------------- Footer -------------*/
footer {
  height: 140px;
  background-color: var(--color-black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}


.footer__item {
  transition-property:transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.footer__item:not(:last-child){
  margin-right: 18px;
}

.footer__item:hover {
  transform: scale(1.2);
}

.footer__social1, .footer__social2, .footer__social3 {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
}

.footer__social1:focus, .footer__social2:focus, .footer__social3:focus {
  outline: none;
}

.footer__social1:focus::after, .footer__social2:focus::after, .footer__social3:focus::after {
  position: absolute;
  content: '';
  padding: 2px;
  width: 100%;
  height: 100%;
  left: -4px;
  top: -4px;
  border-radius: 100px;
  border: 2px solid var(--color-main);
}

.footer__social1 {
  background-image: url('../img/footer/vk.svg');
}

.footer__social2 {
  background-image: url('../img/footer/instagram.svg');
}

.footer__social3 {
  background-image: url('../img/footer/fb.svg');
}
